{% extends 'base.html.twig' %}

{% block title %} Register Team Members {% endblock %}

{% block body %}

    <h2 class="mt-5 text-center">Add a Team Member </h2>

    <div class="container mt-5">

        {{ form(form) }}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $("#user_password").val("abc123");
    </script>

{% endblock %}