<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <title>Register Organization</title>
</head>
<body>


<div class="container mt-5">

    {% if firstUser %}
        <div>
            <h2> You are the owner of this organization</h2>
            <p>
                You will have authority to add method engineers, project managers, project team members and platform
                owners.
                Project team members can also be added or removed by a project manager.
            </p>
        </div>

    {% endif %}

    {{ form_start(form) }}



    {{ form_end(form) }}
</div>

</body>
</html>