{% extends 'base.html.twig' %}

{% block title %}Method Building Blocks{% endblock %}

{% block body %}
    <div class="mt-5">
        {{ include('@includes/method_base_nav.html.twig') }}
    </div>

    <div class="mt-4 w-100 d-flex flex-row justify-content-center">
        <a href="#" class="btn btn-dark">Create method building block</a>
    </div>

    <div class="mt-4 d-flex flex-row flex-wrap">

        <div class="card" style="width: 31rem; margin:2%">
            <div class="card-header d-flex flex-row">
                <i class="fa fa-recycle" style="font-size:24px; width: 10%;"></i>
                <b style="display: block; width: 88%;margin-left: 2%;">Process</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text-o" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Input Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Output Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-globe" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Situational Factors:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-gavel" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Tools:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-group" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Roles:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-magic" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Process Types:</b>
                </li>
            </ul>
        </div>

        <div class="card" style="width: 31rem; margin:2%">
            <div class="card-header d-flex flex-row">
                <i class="fa fa-recycle" style="font-size:24px; width: 10%;"></i>
                <b style="display: block; width: 88%;margin-left: 2%;">Process</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text-o" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Input Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Output Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-globe" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Situational Factors:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-gavel" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Tools:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-group" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Roles:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-magic" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Process Types:</b>
                </li>
            </ul>
        </div>

        <div class="card" style="width: 31rem; margin:2%">
            <div class="card-header d-flex flex-row">
                <i class="fa fa-recycle" style="font-size:24px; width: 10%;"></i>
                <b style="display: block; width: 88%;margin-left: 2%;">Process</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text-o" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Input Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Output Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-globe" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Situational Factors:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-gavel" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Tools:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-group" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Roles:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-magic" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Process Types:</b>
                </li>
            </ul>
        </div>

        <div class="card" style="width: 31rem; margin:2%">
            <div class="card-header d-flex flex-row">
                <i class="fa fa-recycle" style="font-size:24px; width: 10%;"></i>
                <b style="display: block; width: 88%;margin-left: 2%;">Process</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text-o" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Input Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-file-text" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Output Artifacts:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-globe" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Situational Factors:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-gavel" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Tools:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-group" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Roles:</b>
                </li>
                <li class="list-group-item d-flex flex-row">
                    <i class="fa fa-magic" style="font-size:24px; width: 10%;"></i>
                    <b style="display: block; width: 88%;margin-left: 2%;">Process Types:</b>
                </li>
            </ul>
        </div>

    </div>

{% endblock %}
