{% extends 'base.html.twig' %}

{% block title %}Situational Methods{% endblock %}

{% block body %}

    <style>
        body{
            background: rgba(0, 0, 0, 0.22);
        }
    </style>

    <a target="_blank" href="{{ path('construct_situational_method') }}" class="mt-2 btn btn-success">Create a new situational method </a>
    <hr>

    <div class="d-flex flex-row flex-wrap">

        <div class="m-2 p-3 rounded" style=" background: white; ">
            <div class="container">
                <h4><b><i style="color: #9f670b">Method Name: </i></b>Synthetic Platform</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone number of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Address of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <p ><b><i>Respective enactment:</i></b> <a target="_blank" href="#" class="btn btn-primary">Link to enactment</a></p>
            </div>
        </div>

        <div class="m-2 p-3 rounded" style=" background: white; ">
            <div class="container">
                <h4><b><i style="color: #9f670b">Method Name: </i></b>Synthetic Platform</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone number of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Address of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <p ><b><i>Respective enactment:</i></b> <a target="_blank" href="#" class="btn btn-primary">Link to enactment</a></p>
            </div>
        </div>

        <div class="m-2 p-3 rounded" style=" background: white; ">
            <div class="container">
                <h4><b><i style="color: #9f670b">Method Name: </i></b>Synthetic Platform</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone number of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Address of platform owner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" disabled>
                </div>
                <p ><b><i>Respective enactment:</i></b> <a target="_blank" href="#" class="btn btn-primary">Link to enactment</a></p>
            </div>
        </div>

    </div>

    {#{% for method in situationalMethods %}

    {% endfor %}#}

{% endblock %}




