{% extends 'base.html.twig' %}

{% block title %} Method Base {% endblock %}

{% block body %}

    <div class="mt-5 w-100 d-flex flex-row justify-content-center">
        <img class="col-lg-8 col-md-12 col-sm-12 " src="{{ asset('images/MethodBaseComponentRelationships.png') }}">
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <b>BMD Graphs</b>
        </div>
        <div class="card-body">

        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <b>Generic Activities</b>
        </div>
        <div class="card-body">
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <b>Processes</b>
        </div>
        <div class="card-body">
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <b>Roles</b>
        </div>
        <div class="card-body">
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <b>Artifacts</b>
        </div>
        <div class="card-body">
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <b>Situational Factors</b>
        </div>
        <div class="card-body">
        </div>
    </div>

{% endblock %}