{% extends 'base.html.twig' %}

{% block title %} Situational Method Engineering {% endblock %}

{% block body %}

    <div class="mt-5 w-100 d-flex flex-row justify-content-center">
        <img class="col-lg-8 col-md-12 col-sm-12 " src="{{ asset('images/MethodBaseComponentRelationships.png') }}">
    </div>

    <div class="card mt-4">
    <div class="card-header">
        <b>Current Updates</b>
    </div>
    <div class="card-body">

        {# Notification #}
        {% for notification in notifications %}
        <div class="mt-4">
            <div class="alert alert-info">
                {{ notification.message }}
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}